<h1> <%= @event.name %> </h1>
<h3> <%= link_to @event.venue.name, @event.venue %></h3>
  <h4>  <%= @event.start.localtime.strftime(" on %m/%d/%Y") %> </h4>
  <h4>  <%= @event.start.localtime.strftime("From %I:%M%p") %>
    <%= @event.end.localtime.strftime("To %I:%M%p") %> </h4>

  <!-- <p> The time is <%= Time.now%></p>
  <p> The event starts <%= @event.start %> </p>
  <p> The event ends <%= @event.end %> </p> -->

<% if venue_logged_in? && current_venue = @event.venue%>
  <% if @user_events.nil? %>
    <h1> No One has signed up yet</h1>
  <% else %>
    <h2> Users Signed Up for this Event </h2>
    <div class="row">
      <div class="col-md-5 col-md-offset-4 sortable">
      <% @user_events.each do |user_event| %>
        <div class="panel panel-default userevent" data-id="<%= user_event.id %>">
          Priority: <%=user_event.order%> ,<%= link_to user_event.user.email, user_event.user %>
        </div>
      <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <% if @userevent %>
    <% if @arrived%>
      <h3> Looks like you're checked in </h3>
      <p> add a button to un-check-in here </p>
    <% elsif Time.now > @event.start.localtime && Time.now < @event.end.localtime%>
      <%= form_tag '/check_in', id: 'check-in-form' do %>
        <%= hidden_field_tag 'long'%>
        <%= hidden_field_tag 'lat'%>
        <%= hidden_field_tag 'event_id', @event.id %>
        <%= submit_tag "Check in to this event" %>
        <p> Add a button to destroy user_event here </p>
        <h3> You're signed up for this event. Sign in here once the event starts to add yourself to the list. </h3>
      <% end %>
    <% elsif Time.now < @event.start%>
      <p> You're signed up, but the event hasn't started yet, come back here to check in once the event starts.</p>
    <% elsif Time.now > @event.end%>
      <p> the event is over. </p>
    <% else %>
      <p> you should have never come here. </p>
    <% end %>
  <%else%>
    <%= form_tag user_events_path, method: 'post'%>
      <%= hidden_field_tag 'event_id', @event.id %>
      <%= submit_tag "sign up for this event" %>
    <%end%>
<% end %>
