 <h1> <%= @event.name %> </h1>
<p>venue: <%= link_to @event.venue.email, @event.venue %><p>


  <% if @userevent %>
    <% if @arrived%>
      <h3> Looks like you're checked in </h3>
    <% else %>
      <%= form_tag '/check_in', id: 'check-in-form' do %>
        <%= hidden_field_tag 'long'%>
        <%= hidden_field_tag 'lat'%>
        <%= hidden_field_tag 'event_id', @event.id %>
        <%= submit_tag "Check in to this event", id: "check_in" %>
        <p> Add a button to destroy user_event here </p>
        <h3> You're signed up for this event. Sign in here once the event starts to add yourself to the list. </h3>
      <% end %>
    <% end %>
  <%else%>
    <%= form_tag user_events_path, method: 'post'%>
    <%= hidden_field_tag 'event_id', @event.id %>
    <%= submit_tag "sign up for this event" %>
  <%end%>

<% if venue_logged_in? && current_venue = @event.venue%>
  <% if @user_events.nil? %>
      <h1> No One has signed up yet</h1>
  <% else %>
    <h2> Users Signed Up for this Event </h2>
    <% @user_events.each do |user_event| %>
      <li><%= link_to user_event.user.email, user_event.user %>,order <%=user_event.order%></li>
    <% end %>
  <% end %>
<% end %>
