 <h1> <%= @event.name %> </h1>
<p>venue: <%= link_to @event.venue.email, @event.venue %><p>

<%= form_tag user_events_path, method: 'post'%>
<%= hidden_field_tag 'event_id', @event.id %>
<%= submit_tag "Join" %>

<h2> Users Signed Up for this Event </h2>

<% if @user_events.nil? %>
    <h1> No One has signed up yet</h1>
<% else %>
  <% @user_events.each do |user_event| %>
    <h2><%= link_to user_event.user.email, user_event.user %></h2>
  <% end %>
<% end %>
