<h1><%= @venue.name %></h1>
<h4><%= @venue.email %></h4>
<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@venue.latitude},#{@venue.longitude}&markers=#{@venue.latitude},#{@venue.longitude}&zoom=12&size=300x200&key=AIzaSyD0JudhxVsaIVYpcKcSJJaRAkXVaLBGmmY",
                class: 'img-fluid img-rounded', alt: "#{@venue.email} on the map"%>
<% if @events.nil? %>
    <h1> Add a new event and you'll find them here.</h1>
<% else %>
    <h2> Events at at this Venue </h2>
  <% @events.each do |event| %>
    <li><%= link_to event.name, event %> Starts at <%= event.start %></li>
  <% end %>
<% end %>
